<% include partials/header %>

<h2>Here is a list of projects</h2>
<ul type="none">
  <li>Image Classification using TensorFlow</li>
  <li>Note Handler</li>
  <li>Oddisys/Oleads</li>
  <li>NodeWebServer</li>
</ul>

<% include partials/footer %>
